body {
    background: linear-gradient(
        135deg,
        #F7FFFE 0%,
        #E2FCF8 20%,
        #B7F2EA 45%,
        #79DDD4 70%,
        #46C7BE 100%
    );
    background-attachment: fixed;
    min-height: 100vh;
  background-color:linear-gradient( #f8f9fa, #3b95ef);
}

.p{
  text-align: justify;
  
}
/* Variabel Warna Utama */
:root {
  --primary-color: #61bfcf;
  --primary-hover: #50a8b7;
}

/* Utilitas Warna Kustom */
.bg-primary-custom {
  background-color: var(--primary-color) !important;
}

.text-primary-custom {
  color: var(--primary-color) !important;
}

/* Beranda & Foto Profil */
.profile-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.hero-text {
  max-width: 600px;
}

/* Tombol Kustom */
.btn-primary-custom {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary-custom:hover {
  background-color: var(--primary-hover);
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn-outline-custom {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: white;
}

.btn-outline-custom:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Pembatas Seksi (Garis bawah pada judul) */
.section-divider {
  width: 60px;
  height: 4px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#keahlian .p-4{
    background: linear-gradient(
        135deg,
        #C8F4F0,
        #9EE8DD,
        #63C3D1
    );
    color:#2d2d2d;
    border-radius:18px;
    transition:.3s;
}

#keahlian .p-4:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.18);
}
/* Keahlian */
.skill-icon {

    background-attachment: fixed;
    min-height: 100vh;
  font-size: 3rem;
  color: var(--primary-color);
}

.card {
  background: linear-gradient(to right, #C8F4F0, #6DD5C0);
  color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
}


/* Proyek */
.project-img {
  height: 220px;
  object-fit: contain;
  background-color: #f8f9fa;
}

/* Kontak */
.contact-icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  box-shadow: transform 0.3s ease 4px 8px rgba(0, 0, 0, 0.15);
}

